<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/mochadwi/Documents/learn/college/unikom/division/001_codelabs/phase_2/2_video_submission.mov</key>
	<string>/Users/mochadwi/Documents/learn/college/unikom/division/001_codelabs/phase_2/2_video_submission.mov</string>
	<key>/Users/mochadwi/Documents/learn/college/unikom/division/001_codelabs/phase_2/audio_2.m4a</key>
	<string>/Users/mochadwi/Documents/learn/college/unikom/division/001_codelabs/phase_2/audio_2.m4a</string>
	<key>/Users/mochadwi/Downloads/Into the SkySawanoHiroyuki[nZk]Tielle【ガイドメロ付き・カラオケ練習用・アニソン・歌詞付き・フル・覚えたい人におすすめ！】.mp3</key>
	<string>/Users/mochadwi/Downloads/Into the SkySawanoHiroyuki[nZk]Tielle【ガイドメロ付き・カラオケ練習用・アニソン・歌詞付き・フル・覚えたい人におすすめ！】.mp3</string>
</dict>
</plist>
