[submodule "phase_4/workshop/wk02/day06_scrum/pancakescrum"]
	path = phase_4/workshop/wk02/day06_scrum/pancakescrum
	url = git@github.com:evangilang/pancakescrum.git
[submodule "phase_4/workshop/wk04/day10_android/Codelabs-App"]
	path = phase_4/workshop/wk04/day10_android/Codelabs-App
	url = git@github.com:mochadwi/cl-homework-layouting.git
[submodule "phase_4/repo/weouts"]
	path = phase_4/repo/weouts
	url = git@github.com:weouts/android.git
[submodule "phase_4/repo/cheesesquare"]
	path = phase_4/repo/cheesesquare
	url = git@github.com:chrisbanes/cheesesquare.git
