main {
    border:1px solid #000; 
	width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
}

.kotak {
	width: 200px;
	height: 200px;
	margin: 20px;
    font-weight: bold;
}

#kotak1{
    order: 2;
    flex: 20%;
	background: blue;
}

#kotak2{
    order: 1;
    flex: 300%;
	background: red;
}	

#kotak3{
    order: 4;
    flex: 25%;
	background: yellow;
}

#kotak4{
    order: 3;
    flex: 25%;
	background: purple;
}